@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scrollRight 30s linear infinite;
}

.animate-scroll-right:hover {
  animation-play-state: paused;
}