@keyframes flicker {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.5;
    }

    18%{
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.2;
    }
    45%{
        opacity: 0;
    }
    73% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    93% {
        opacity: 0;
    }
    95%{
        opacity:0.8;
    }
    100% {
        opacity: 0;
    }
}
.flickerFreq {
    animation: flicker 3s infinite;
}
.flicker {
    animation: flicker 7s infinite;
}
.smoothFade {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.aboutSection {
    margin-top: 240px;
}

@media screen and (max-width: 880px) {
    .aboutSection {
        margin-top: 0px;
    }
}